



{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}about


{%block main-content %}
{% include 'includes/alerts.html' %}

{% comment %} <div class="tab-container">
  <div class="tab-content"> 
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
            <br> <br>
            <label for="lease_rent">Minimum Contract Period in (Month)</label>
            <input type="number" id="lease_rent" name="lease_rent">
            <input type="submit" value="Submit">
          </form>
  </div>

</div> {% endcomment %}

<br><br><br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <!-- row justify-content-center -->
    <div class="col-md-6 mx-auto">
      <form  method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputName">Minimum Contract Period in (Month)</label>
            <input type="number" class="form-control" id="lease_rent" name="lease_rent" placeholder="Lease Price" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sumbit</button>
      </form>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{%endblock main-content%}