{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}about

{%block main-content %} 
<section class="about-section">

    <br><br><br>
    <h1 style="text-align:center">About Us</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae metus vel massa malesuada finibus in nec tellus. Phasellus ut mauris vel lectus eleifend gravida quis ut mauris. Proin quis mauris id metus imperdiet ultrices. Aliquam condimentum, lorem ut malesuada vestibulum, elit lorem fringilla diam, ac fermentum nibh velit in eros. Nullam maximus a augue eget fermentum. </p>
    <p>Nulla facilisi. Nulla facilisi. Donec in erat a massa ultricies feugiat. Etiam ultrices, tellus sed blandit pharetra, quam felis sollicitudin nisi, sed interdum velit ipsum sit amet sem. </p>
</section>{%endblock main-content%}